$font-stack:    Helvetica, sans-serif;
$top-area-color: hsla(211, 52%, 50%, 0);
$title-color: black;
$search-box-height: .5em;
$search-text-font-size: 1em;
$body-background-color: hsla(113, 61%, 24%, 1);

// movie pads
$movie-pad-color: hsla(0, 0%, 85%, 1);
$movie-text-pad-color: hsla(0, 0%, 50%, 1);
$movie-text-color: hsla(1, 100%, 100%, 1);
// flat colors
$flat-color1: #f1c40f;

$colors: #c0392b, #9b59b6, #2c3e50, #d35400, #16a085, #27ae60;

@for $i from 1 through length($colors) {
  .eachmovie:nth-child(#{length($colors)}n+#{$i}) {
    background: lighten(nth($colors, $i), 20%);
  }
}

.container:after {
  content:"";
  display:table;
  clear:both;
}

// global styles

html {
  font-family: $font-stack;
  font-size: 16px;
}
body {
  width: 100%;
  // @include background-gradient;
  background-color: white;
  // background-image: url('rotten_mangoes.jpg');
}

a {
  text-decoration: none;
}

#rotten-title {
    // margin: 10px auto;
    font-size: 2em;
    width: 100%;
    text-align: center;
    display: inline-block;
    color: $title-color;
    margin: auto 0;
}

  #top-area {
    background: $top-area-color;
  }
  #submit-a-movie {
    a {
        color: black;
  /* width: 24px; */
  float: left;
  border: 1px solid black;
  padding: 3px;
  /* margin: 2px; */
  position: relative;
  bottom: 8px;
  left: 22px;
  border-radius: 5px;
    }
  }
/*------------------------------- Portrait and Landscape for iphone 5 sized phone*/
@media only screen 
  // and (min-device-width: 320px) 
  and (max-width: 700px)
  // and (-webkit-min-device-pixel-ratio: 2) 
  {

  // Navbar area- Title + search bars + link




  #rotten-title {
      // width: 100%;
      // text-align: center;
      // margin: auto 0;
      // font-size: 3em;
  }

  #submit-a-movie {
    font-size: .8em;
    a {
      color: $title-color;
    }
    // float: left;
  }

  #search-form { 
    display:none;
    float: right;
  }

  #director, #runtime_in_minutes, #title {
    height: $search-box-height;
    width: 10%;
    float: left;
  }
  #runtime_in_minutes {
    height: 16px;
  }

  .search-words {
    display: none;
    float: left;
    color: $title-color;
    font-size: $search-text-font-size;
    padding: 0 3px;
  }

  #search-button input {
    display: none;
    float: left;
    height: 16px;
    margin: 0 0 0 5px;
  }

  #horizontal-bar{
    clear: both;
  }

  // main area - movies

  .pagenumbers {
    width: 30%;
  }

  .moviemovie{
  }

  .eachmovie {
    width: 100%;  
    border-radius: 30px;
    float: left;
    position: relative;
    margin: 1.5%;
    background: $movie-pad-color;
    margin-bottom: 1px;
    height: 25em;
    overflow: hidden;
    color: $movie-text-color;
      img {
        margin: 0 2% 0 0;
        border-radius: 10px;
        width: 120px;
        top: 10px;
        left: 10px;
        position: absolute;
      }
      h2{
        font-size: 1.7em;
        margin: 0 0 3% 0;
      }
      h3{
        font-size: .5em;
      }
      h4{
        font-size: .7em;
        margin: 2% 0 0 0;
      }
      a {
        color: $movie-text-color;
        float: right;
      }
      p{
        font-size: 1em;
        clear: both;
        margin: 0 0 4% 0;
      }
  }

  .movie-text {
    width: 100%;
    height: 100%;
    padding: 10px 10px 10px 136px;
    // background: $movie-text-pad-color;
    // overflow: scroll;
  }
}


@media only screen and (min-width: 701px) {

  a {
    text-decoration: none;
  }

  // Navbar area- Title + search bars + link

  #top-area {
    background: $top-area-color;
  }

  // #rotten-title {
  //     // margin: 10px auto;
  //     font-size: 2em;
  //     width: 500px;
  //     display: inline-block;
  //     color: $title-color;
  //     margin: 1em 0 0 2em;
  // }
      #rotten-title {
      width: 500px;
      margin: 1em 0 0 2em;
  }

  #submit-a-movie {
    font-size: .8em;
    a {
      color: $title-color;

    }
    // float: left;
  }

  #search-form { 
    width: 54%;
    float: right;
    // margin: 58px 0 0 0;
  }

  #director, #runtime_in_minutes, #title {
    height: $search-box-height;
    width: 10%;
    float: left;
  }
  #runtime_in_minutes {
    height: 16px;
  }

  .search-words {
    display: inline-block;
    float: left;
    color: $title-color;
    font-size: $search-text-font-size;
    padding: 0 3px;
  }

  #search-button input {
    display: inline-block;
    float: left;
    height: 16px;
    margin: 0 0 0 5px;
  }

  #horizontal-bar{
    clear: both;
  }

  // main area - movies

  .pagenumbers {
    width: 30%;
  }

  .moviemovie{
  }

  .eachmovie {
    width: 46.5%;  
    border-radius: 30px;
    float: left;
    margin: 1.5%;
    background: $movie-pad-color;
    margin-bottom: 1px;
    height: 15em;
    overflow: hidden;
    color: $movie-text-color;
      img {
        margin: 4% 2% 0 4%;
        border-radius: 10px;
        height: 150px;
        width: 100px;
      }
      h2{
        font-size: 1.7em;
        margin: 0 0 3% 0;
      }
      h3{
        font-size: .5em;
      }
      h4{
        font-size: .7em;
        margin: 2% 0 0 0;
      }
      a {
        color: $movie-text-color;
      }
      p{
        font-size: 1em;
        margin: 0 0 4% 0;
      }
  }

  .movie-text {
    float: right;
    width: 62%;
    height: 100%;
    margin: 0 0 ;
    padding: 1%;
    background: $movie-text-pad-color;
    // overflow: scroll;
  }
}

//  Big screens --------------------------     3 columns ----------------------------------------------------------
@media only screen 
and (min-width: 1200px) 
and (max-width: 1500px){

  .eachmovie {
    width: 30%;
    margin: 1%;
  }
  .movie-text{
    width: 60%;
  }
  #search-form{
    margin: 58px 0 0 0;
  }
}
// mega big screens   -------------------4 columns -----------------------------------------------
 @media only screen 
and (min-width: 1501px) {

  .eachmovie {
    width: 23%;
    margin: .7%;
  }
  .movie-text{
    width: 60%;

  }

}



