// $movie-pad-color: hsla(245, 100%, 83%, .6);
// $movie-text-pad-color: hsla(245, 100%, 83%, 1);
$movie-pad-color: hsla(245, 100%, 83%, .1);
$movie-text-pad-color: hsla(1, 100%, 100%, .7);
$movie-text-color: hsla(1, 0%, 0%, 1);
$font-stack:    Helvetica, sans-serif;
$top-area-color: hsla(211, 52%, 50%, 0);
$title-color: white;
$search-box-height: .5em;
$search-text-font-size: 1em;

.container:after {
  content:"";
  display:table;
  clear:both;
}

// global styles

html {
  font-family: $font-stack;
  font-size: 12px;
}
body {
  width: 100%;
  background-image: url('rotten_mangoes.jpg');
}


a {
  text-decoration: none;
}

// Navbar area- Title + search bars + link

#top-area {
  background: $top-area-color;
}

#rotten-title {
    // margin: 10px auto;
    font-size: 2em;
    width: 500px;
    display: inline-block;
    color: $title-color;
    margin: 1em 0 0 2em;
}

#submit-a-movie {
  font-size: .8em;
  a {
    color: $title-color;
  }
  // float: left;
}

#search-form { 
  width: 54%;
  float: right;
  margin: 1.5em 0 0 0;
}

#director, #runtime_in_minutes, #title {
  height: $search-box-height;
  width: 10%;
  float: left;
}
#runtime_in_minutes {
  height: 16px;
}

.search-words {
  display: inline-block;
  float: left;
  color: $title-color;
  font-size: $search-text-font-size;
  padding: 0 3px;
}

#search-button input {
  display: inline-block;
  float: left;
  height: 16px;
  margin: 0 0 0 5px;
}

#horizontal-bar{
  clear: both;
}

// main area - movies

.pagenumbers {
  width: 30%;
}

.moviemovie{
}

.eachmovie {
  width: 46.5%;  
  border-radius: 30px;
  float: left;
  margin: 1.5%;
  background: $movie-pad-color;
  margin-bottom: 1px;
  height: 15em;
  overflow: hidden;
  color: $movie-text-color;
    img {
      margin: 4% 2% 0 4%;
      border-radius: 10px;
      height: 150px;
      width: 100px;
    }
    h2{
      font-size: 1.7em;
      margin: 0 0 3% 0;
    }
    h3{
      font-size: .5em;
    }
    h4{
      font-size: .7em;
      margin: 2% 0 0 0;
    }
    a {
      color: $movie-text-color;
    }
    p{
      font-size: 1em;
      margin: 0 0 4% 0;
    }
}

.movie-text {
  float: right;
  width: 67%;
  height: 100%;
  margin: 0 0 ;
  padding: 4px;
  background: $movie-text-pad-color;
  // overflow: scroll;
}

@media all and (max-width: 300px) {





}
