<h1>Admin Page</h1>
<div>
  <%= link_to "Create a user!", new_admin_user_path%>
</div>
<div>
  <%= link_to "Back to movie list!", movies_path %>
</div>
<h2>here is a list of all users </h2>
<div>
  
  <%= paginate @users  %>

  <%= render @users %>
</div>

   